.venv
build
hide_and_seek_engine.egg-info
dist
__pycache__
*.so
*.o
*.pyc
wheelhouse
*.pyd
.vscode
timings/*
runs
main.tex
level_images
results
originalLevelResults
linuxvenv
experiments/results_old_loop
experiments/results_backup_round1
experiments/results_backup
experiments/results_pre_final_reward
time_files/time_files_results
experiments/results_alienware_comms_5m
experiments/results_white-machine_comms_5m
experiments/results_timpc_comms_5m